name: MY Build lpud
env:
    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
on:
  workflow_call:
    inputs:
      target:
        required: true
        type: string
      ksu_fork:
        required: true
        type: string
      pack_lkm:
        required: false
        type: boolean
        default: true
      use_cache:
        required: false
        type: boolean
        default: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: download linuxxpu with patched dir
      uses: actions/download-artifact@v5.0.0
      with:
        name: linuxxpu
        path: .
        github-token: ${{ env.GITHUB_TOKEN }}
        
    - name: Setup Rust
      run: |
        rustup update stable
        rustup target add aarch64-apple-darwin

    - name: Cache lpud
      if: ${{ inputs.ksu_fork == 'SUKISU' }} || ${{ inputs.ksu_fork == 'xxKSU' }}
      uses: Swatinem/rust-cache@v2
      with:
        workspaces: userspace/lpud
        cache-targets: false

    - name: Setup Cross
      run: |
        RUSTFLAGS="" cargo install cross --git https://github.com/cross-rs/cross --rev 66845c1 --force

    - name: Build lpud
      if: ${{ inputs.ksu_fork == 'SUKISU' }} || ${{ inputs.ksu_fork == 'xxKSU' }}
      run: CROSS_NO_WARNINGS=0 cross build --target ${{ inputs.target }} --release --manifest-path ./userspace/lpud/Cargo.toml

    - name: Upload ksud artifact
      if: ${{ inputs.ksu_fork == 'SUKISU' }} || ${{ inputs.ksu_fork == 'xxKSU' }}
      uses: actions/upload-artifact@v4.6.2
      with:
        name: lpud-${{ inputs.target }}
        path: userspace/lpud/target/**/release/lpud*
